*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* regole header */
.contenitore-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-style: dashed;
    /* DEBUG */
    background-color: #ADD8E7;
}

/* intestazioni */
.logo{
    border-style: dashed;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
        /* DEBUG */
    background-color: #DAA51D;
}

.link{
    border-style: dashed;
    display: flex;
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* DEBUG */
    background-color: #DAA51D;
}

.login{
    border-style: dashed;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
        /* DEBUG */
    background-color: #DAA51D;
}

/* sotto intestazione */
.sotto-intestazione{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-style: dashed;
    /* DEBUG */
    background-color: #00018B;
}

.conainer-sotto-intestazione{
    border-style: dashed;
    width: 60%;
    height: 80%;
        /* DEBUG */
    background-color: #EF82ED;
}